.blog-card {
  display: flex;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  cursor: pointer;
  transition: opacity 0.3s;
  box-sizing: border-box;
  max-height: 200px;
  height: 100%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

.blog-image-container {
  width: 40%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.blog-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 20px; /* Apply border radius to top left corner */
  border-bottom-left-radius: 20px;
}

.blog-content {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.blog-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 10px;
}

.blog-title-main {
  font-size: 1.25rem;
  margin-bottom: 5px;
  max-width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word; /* Add this line to handle long words */
}

.blog-subtitle-main {
  font-size: 1rem;
  color: #666;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word; /* Add this line to handle long words */
}

.blog-author-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-author-date-inner {
  display: flex;
  gap: 4px;
  align-items: baseline;
}

.blog-author {
  font-size: 0.9rem; /* Adjust the font size as needed */
}

.blog-date {
  font-size: 0.7rem; /* Adjust the font size as needed */
  font-weight: bold;
}

.blog-like {
  display: flex;
  align-items: center;
  color: #ff5733; /* Heart icon color */
  cursor: pointer;
}

.blog-like-icon {
  margin-right: 5px;
}

.blog-like-count {
  font-size: 0.8rem;
}

/* For screens with width up to 768px (adjust this value as needed) */
@media (max-width: 768px) {
  .blog-card {
    flex-direction: column; /* Stack elements vertically */
    max-height: none; /* Reset max-height to allow full content height */
    height: auto; /* Reset height to allow content to expand */
  }

  .blog-image-container {
    width: 100%; /* Take up full width */
    max-height: 300px; /* Set a maximum height for the image */
    border-top-left-radius: 20px; /* Apply border radius to top left corner */
    border-top-right-radius: 20px; /* Apply border radius to top right corner */
    border-bottom-left-radius: 0; /* Remove border radius from bottom left corner */
    border-bottom-right-radius: 0; /* Remove border radius from bottom right corner */
    overflow: hidden;
  }

  .blog-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Use "contain" instead of "cover" */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .blog-content {
    padding: 10px;
  }

  .blog-text {
    padding-right: 0;
  }
}
