/* whyus.modules.css */
.whyus-section {
  padding: 36px 0 140px 0;
  /* background-color: #000; */
  background-image: linear-gradient(to top, #fff, #fff);
}

.whyus-points {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 40px;
  margin-top: 40px;
}
.whyus-section h2 {
  font-size: 48px;
  color: #000;
}
@media (max-width: 878px) {
  .whyus-section h2 {
    font-size: 52px;
  }
}
@media (max-width: 878px) {
  .whyus-points {
    flex-direction: column; /* Stack in reverse order */
  }
}
.icon {
  font-size: 36px;
  margin-bottom: 15px;
  color: #1abc9c; /* Icon color */
}

.whyus-point {
  flex: 1;
  background-color: #000;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  background-image: linear-gradient(to bottom, #d3d0d0, #ceced6);
  color: #000;
  box-shadow: rgba(235, 235, 240, 0.2) 0px 7px 29px 0px;
}

.whyus-point:hover {
  transform: translateY(-5px);
}

.whyus-point h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.whyus-point p {
  font-size: 16px;
  line-height: 1.6;
}
