/* contact.modules.css */
.contact-section {
  padding: 36px 0 70px 0;
  /* background-color: #000; */
  background-image: linear-gradient(to top, #5c7490, #fff);
}

.contact-points {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 40px;
  margin-top: 40px;
}
.contact-points .contact-container {
  background-color: #000;
}
.contact-section .heading {
  font-size: 80px;
  color: #000;
}
@media (max-width: 878px) {
  .contact-section .heading {
    font-size: 52px;
  }
}
@media (max-width: 878px) {
  .contact-points {
    flex-direction: column; /* Stack in reverse order */
  }
}
.icon {
  font-size: 36px;
  margin-bottom: 15px;
  color: #1abc9c; /* Icon color */
}

.contact-point {
  flex: 1;
  background-color: #000;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  background-image: linear-gradient(to bottom, #e1e1e4, #e6e6f0);
  color: #000;
  box-shadow: rgba(230, 230, 233, 0.2) 0px 7px 29px 0px;
}

.contact-point:hover {
  transform: translateY(-5px);
}

.contact-point h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-point p {
  font-size: 16px;
  line-height: 1.6;
}
