.trending-card {
  width: 400px;
  margin: 0 auto;
  background: transparent !important;
  border: 0 !important;
}

@media (max-width: 878px) {
  .trending-card {
    width: 80%;
  }
}
.trending-card .card-body {
  min-height: 355px;
  box-shadow: rgb(125, 153, 182) 0px 20px 30px -10px;
  border-radius: 12px;
  margin-top: -52px;
}

.trending-card:hover {
  cursor: pointer;
  opacity: 1;
}

.trending-card img {
  height: 300px;
  width: 240px;
}

.trending-card h4 {
  font-size: 32px;
  font-weight: bold;
}

@media (max-width: 878px) {
  .trending-card h4 {
    font-size: 24px;
    font-weight: bold;
  }
}

.trending-card h5 {
  font-size: 22px;
}
/* Add ellipsis to the title and display full text on hover */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%; /* Adjust as needed */
  vertical-align: middle;
  cursor: pointer; /* Show pointer on hover for indicating interactivity */
}
